<h2>Item 12: Understanding Variable Hoisting</h2>
<p>Best way to think about variable declarations is in 2 parts:</p>
<ol>
    <li>Declaration</li>
    <li>Assignment</li>
</ol>
<p>Variables are hoisted to the top of the function to be declared</p>
<p>The one exception to hoisting is the 'exception' case in a try catch</p>