<h2>Item 8: Minimize Use of the Global Object</h2>
<p>Globals go against the grain of modularity</p>
<ul>
    <li>Avoid declaring global vars</li>
    <li>Declare vars as locally as possible</li>
    <li>Avoid adding properties to the global object</li>
    <li>Use the gloabl object for feature detection</li>
</ul>