<h2>Item 34: Store Methods on Prototypes</h2>
<p>Storing methods on instance objects creates multiple copies of the functions, one per instance object</p>
<p>Prefer storing methods on prototypes over stroing them on instance objects.</p>