<h2>Item 24: Use a Variable to Save a Reference to arguements</h2>
<p>Discussed in the last item too, save the arguments to a local variable</p>
<p>This helps with the reference issues of the arguments array</p>