<h1>{{title}}</h1>
{{data}}
{{> shared/spacer item="30"}}
{{> chapter-four/item-30}}
{{> shared/spacer item="31"}}
{{> chapter-four/item-31}}
{{> shared/spacer item="31"}}
{{> chapter-four/item-31}}
{{> shared/spacer item="32"}}
{{> chapter-four/item-32}}
{{> shared/spacer item="33"}}
{{> chapter-four/item-33}}
{{> shared/spacer item="34"}}
{{> chapter-four/item-34}}
{{> shared/spacer item="35"}}
{{> chapter-four/item-35}}
{{> shared/spacer item="36"}}
{{> chapter-four/item-36}}
{{> shared/spacer item="37"}}
{{> chapter-four/item-37}}
{{> shared/spacer item="38"}}
{{> chapter-four/item-38}}
{{> shared/spacer item="39"}}
{{> chapter-four/item-39}}
{{> shared/spacer item="40"}}
{{> chapter-four/item-40}}
{{> shared/spacer item="41"}}
{{> chapter-four/item-41}}
{{> shared/spacer item="42"}}
{{> chapter-four/item-42}}