<h1>{{title}}</h1>
{{data}}
{{> shared/spacer item="18"}}
{{> chapter-three/item-18}}
{{> shared/spacer item="19"}}
{{> chapter-three/item-19}}
{{> shared/spacer item="20"}}
{{> chapter-three/item-20}}
{{> shared/spacer item="21"}}
{{> chapter-three/item-21}}
{{> shared/spacer item="22"}}
{{> chapter-three/item-22}}
{{> shared/spacer item="23"}}
{{> chapter-three/item-23}}
{{> shared/spacer item="24"}}
{{> chapter-three/item-24}}
{{> shared/spacer item="25"}}
{{> chapter-three/item-25}}
{{> shared/spacer item="26"}}
{{> chapter-three/item-26}}
{{> shared/spacer item="27"}}
{{> chapter-three/item-27}}
{{> shared/spacer item="28"}}
{{> chapter-three/item-28}}
{{> shared/spacer item="29"}}
{{> chapter-three/item-29}}